$carnation: rgb(255,138,216);     // #ff8ad8
$bubblegum: rgb(255, 133, 255);   // #FF85FF
$lavender: rgb(215, 131, 255);    // #D783FF
$orchid: rgb(122,129,255);        // #7A81FF
$sky: rgb(118,214,255);           // #76D6FF
$ice: rgb(115,253,255);           // #73FDFF
$spindrift: rgb(115,252,214);     // #73FCD6
$flora: rgb(115,250,121);         // #73FA79
$honeydew: rgb(212,251,121);      // #D4FB79
$banana: rgb(255,252,121);        // #FFFC79
$cantaloupe: rgb(255,212,121);    // #FFD479
$salmon: rgb(255,126,121);        // #FF7E79
$iron: #5E5E5E;                   // #5E5E5E

@media print {

  @page {
    size: 5.5in 8.5in;
  }

  @page :blank {
    @top-left {
      background: none;
      content: ''; }
    @top-center {
      content: none; }
    @top-right {
      content: none; }
    @bottom-left {
      background: none;
      content: ''; }
    @bottom-center {
      content: ''; }
    @bottom-right {
      content: ''; }
  }

  @page :left {
    margin-right: 0.375in;

    @bottom-left {
      background: white;
      content: counter(page) " | Larson Recipes";
      height: 1cm;
      vertical-align: middle;
      width: 100%;
      font-size:10pt;
    }
  }

  @page :right {
    margin-left: 0.375in;

    @bottom-right {
      background: white;
      content: string(heading) " | " counter(page);
      height: 1cm;
      vertical-align: middle;
      width: 100%;
      font-size:10pt;
    }
  }

  @page cover {
    margin-left: 0.375in;
    margin-right: 0;
    background: lightblue image-url("thanksgiving_background.jpg") no-repeat fixed center;
    height: 8.5in;

    @bottom-left {
      background: none;
      content: ''; }

    @bottom-right {
      background: none;
      content: ''; }
  }

  @page no-chapter {
    @bottom-left {
      background: none;
      content: ''; }
    @bottom-center {
      content: ''; }
    @bottom-right {
      content: ''; } }

  @page chapter {
    margin: 0;
    @bottom-left {
      content: ''; }
    @bottom-center {
      content: ''; }
    @bottom-right {
      content: ''; } }

  body {
    border-top: none !important;
    background-color: transparent;
  }

  .web { display: none; }
  .print { display: block !important; }
  .blank {
    page: blank;
    margin-left: -20mm;
    margin-right: -20mm;
    display: flex;
    flex-wrap: wrap;
    height: 250mm;
    justify-content: center;
  }
  .pbb {
    page-break-before: always;
  }

  a {
    &:not(.btn) {
      text-decoration: none;
    }
  }

  div.section {
    hgroup {
      h1 { display: none; }
      h2 {
        font-size: 42pt;
        margin-top: 12pt;
        string-set: heading content();
      }
    }
  }

  div.recipe {
    page-break-before: always;
    page-break-after: always;
    width: 100%;

    div.title h2 {
      font-size: 22pt;
      color: $iron;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    div.title p {
      font-size: 12pt;
      font-style: italic;
      margin-bottom: 0;
    }

    img {display: none;}

    div.instructions {
      width: 100%;
      font-size: 14pt;

      h3, h4, h5 {
        font-size: 13pt;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 4pt;
        padding-bottom: 0;
        color: $salmon;
      }

      .ingredients {
        width: 100%;
        font-size: 13pt;

        ul { column-count: 2 }
      }

      .directions, .notes {
        width: 100%;
        font-size: 14pt;
        p:first-of-type {
          margin-top:0;
          padding-top:0;
        }
        dl {
          margin-top:0;
          padding-top:0;
          dt {
            font-weight: bold;
          }
        }
      }

      .notes {
        width: 100%;
      }

    }
  }

  .print-image {
    page-break-before: always;
    page-break-after: always;
    padding-top:80pt;
  }

  img {
    max-width: 260pt;
    max-height: 360pt;
  }

  .separator { display: none; }

  #cover {
    padding-top:320pt;
    page: cover;

    hgroup {
      background-color: #f6f3ee;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23aca392' fill-opacity='0.2'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      margin:10pt;
      border: 4pt double gray;

      #title {
        padding:10pt;
        margin:10pt;
        margin-top:0;
        display:inline-block;
        color: $iron;
        font-size:40pt;
        margin-bottom:0;
      }

      #tagline {
        margin-top:0;
        margin-bottom:10pt;
        padding:10pt;
        padding-top:0;
        font-size: 16pt;
        font-style:normal;
        display:inline-block;
        color: $salmon;
        text-transform: uppercase;
      }
    }
  }

  #toc-heading {
    font-size:24pt;
    text-align:center;
    padding-top:10pt;
    margin-bottom:20pt;
  }

  #cocktails-leader {
    page-break-before: always;
    page-break-after: always;
    break-before: right;
    break-after: left;
    page: no-chapter;
  }

  #cocktails-leader {
    margin-left: -20mm;
    margin-right: -20mm;
    display: flex;
    flex-wrap: wrap;
    height: 250mm;
    justify-content: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23ff8ad8' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    page: chapter;
  }

  // Backgrounds
  .background {
    margin-left: -20mm;
    margin-right: -20mm;
    display: flex;
    flex-wrap: wrap;
    page: chapter;
  }

  #kitchen-window.background {
    background: lightblue image-url("backgrounds/kitchen_window.jpeg") no-repeat center;
    background-size: cover;
    height: 250mm;
  }

  #lefse.background {
    background: lightblue image-url("backgrounds/lefse_bkg.jpg") no-repeat center;
    background-size: cover;
    height: 250mm;
  }

  #aluminum-collection.background {
    background: lightblue image-url("backgrounds/aluminum_collection_vert.jpeg") no-repeat center;
    background-size: cover;
    height: 250mm;
  }

  #microwave.background {
    background: lightblue image-url("backgrounds/microwave.jpeg") no-repeat center;
    background-size: cover;
    height: 220mm;
  }

  #moon-plate.background {
    background: lightblue image-url("backgrounds/moon_plate.jpeg") no-repeat center;
    background-size: cover;
    height: 216mm;
  }

  #antelope.background {
    background: lightblue image-url("backgrounds/antelope.jpeg") no-repeat center;
    background-size: cover;
    height: 216mm;
  }

  #buffalo.background {
    background: lightblue image-url("backgrounds/buffalo.jpeg") no-repeat center;
    background-size: cover;
    height: 216mm;
  }

  #woman.background {
    background: lightblue image-url("backgrounds/woman.jpeg") no-repeat center;
    background-size: cover;
    height: 216mm;
  }

  #smoked-fish.background {
    background: lightblue image-url("backgrounds/smoked_fish.jpeg") no-repeat center;
    background-size: cover;
    height: 216mm;
  }

  #postcard-hanger.background {
    background: lightblue image-url("backgrounds/postcard_hanger.jpeg") no-repeat center;
    background-size: cover;
    height: 216mm;
  }

  .background.basement-wallpaper {
    background: lightblue image-url("backgrounds/basement_wallpaper.jpeg") no-repeat center;
    background-size: cover;
    height: 216mm;
  }

  .background.basement-carpet {
    background: lightblue image-url("backgrounds/basement_carpet.jpeg") no-repeat center;
    background-size: cover;
    height: 216mm;
  }

  .background.thanksgiving-table {
    background: lightblue image-url("backgrounds/thanksgiving_table.jpeg") no-repeat center;
    background-size: cover;
    height: 216mm;
  }

  #toc {
    ul {
      padding-left:0;

      li {
        list-style: none;
        margin: 20pt;

        a {
          display: block;
          border-top: 1px solid gray;
          width:100%;
          padding: 4pt;
          font-size: 14pt;
        }

        a::after {
          color: black;
          content: leader('.') target-counter(attr(href), page);
          float: right;
        }
      }
    }
  }

  // Chapter Nav
  .section nav {
    a {
      display: block;
      width: 100%;
      font-size: 12pt;
      border-bottom: 2px dotted #ccc;
    }

    a::after {
      color: black;
      content: leader('.') target-counter(attr(href), page);
      float: right;
    }
  }

  // https://www.heropatterns.com/
  // Hero Patterns
  // Curtain
  // Background - white
  // Foreground - (see color ramp above)
  // Opacity - 0.4
  .leader {
    margin-left: -20mm;
    margin-right: -20mm;
    display: flex;
    flex-wrap: wrap;
    height: 250mm;
    justify-content: center;
    page: chapter;
  }
  .leader.carnation {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23ff8ad8' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.bubblegum {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23ff85ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.lavender {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23d783ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.orchid {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%237a81ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.sky {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%2376d6ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.ice {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%2373fdff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.spindrift {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%2373fcd6' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.flora {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%2373fa79' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.honeydew {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23d4fb79' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.banana {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23fffc79' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.cantaloupe {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23ffd479' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.salmon {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23ff7e79' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .leader.iron {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%235e5e5e' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
}
