@media print {

  div.section {
    page-break-before: always;

    h1 { display: none; }
    h2 {
      font-size: 6rem;
      margin-top: 10rem;
    }

    nav {
      display: none;
    }

    div.print {
      display: block;
    }
  }

  div.recipe {
    page-break-before: always;

    div.title {
      margin-top:6rem;
    }
  }
  .separator { display: none; }
}
