body {
  background-color: #ffffff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 1rem;
  text-align: left;
  font-size: 20px;
}

// Crayons
$carnation: rgb(255,138,216);     // #ff8ad8
$bubblegum: rgb(255, 133, 255);   // #FF85FF
$lavender: rgb(215, 131, 255);    // #D783FF
$orchid: rgb(122,129,255);        // #7A81FF
$sky: rgb(118,214,255);           // #76D6FF
$ice: rgb(115,253,255);           // #73FDFF
$spindrift: rgb(115,252,214);     // #73FCD6
$flora: rgb(115,250,121);         // #73FA79
$honeydew: rgb(212,251,121);      // #D4FB79
$banana: rgb(255,252,121);        // #FFFC79
$cantaloupe: rgb(255,212,121);    // #FFD479
$salmon: rgb(255,126,121);        // #FF7E79
$iron: #5E5E5E;                   // #5E5E5E

body.salmon { border-top: 0.5rem solid $salmon; }
body.cantaloupe { border-top: 0.5rem solid $cantaloupe; }
body.ice { border-top: 0.5rem solid $ice; }
body.lavender { border-top: 0.5rem solid $lavender; }
body.iron { border-top: 0.5rem solid $iron; }
body.honeydew { border-top: 0.5rem solid $honeydew; }
body.flora { border-top: 0.5rem solid $flora; }
body.carnation { border-top:0.5rem solid $carnation; }
body.bubblegum { border-top:0.5rem solid $bubblegum; }

a.nav-link.salmon { border-left: 4px solid $salmon; }
a.nav-link.cantaloupe { border-left: 4px solid $cantaloupe; }
a.nav-link.ice { border-left: 4px solid $ice; }
a.nav-link.lavender { border-left: 4px solid $lavender; }
a.nav-link.iron { border-left: 4px solid $iron; }
a.nav-link.honeydew { border-left: 4px solid $honeydew; }
a.nav-link.flora { border-left: 4px solid $flora; }
a.nav-link.carnation { border-left: 4px solid $carnation; }
a.nav-link.bubblegum { border-left: 4px solid $bubblegum; }

hgroup {
  text-align:center;
  margin-bottom:2rem;
  h2 {
    font-weight:normal;
    font-style:italic;
  }
}

img {
  border: 1px solid black;
  padding: 1rem;
}

hgroup > h2 { font-size:3rem; font-weight: bold;}

h1 {
  font-family: 'EB Garamond', cursive;
  font-size: 4rem;
  font-weight: bold;
}

h1 a:hover {
  text-decoration:none;
}

h2,h3,h4,h5 {
  font-family: 'EB Garamond';
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

h3,h4,h5 {
  text-transform: uppercase;
  font-size:1.25rem;
  font-weight: bold;
}

body {
  font-family: 'EB Garamond', serif;
}

.print {
  display: none;
}

div.recipe {
  div.title {
    text-align:center;
    margin-bottom:4rem;
    h2 {
      font-style: italic;
      font-size: 3rem;
    }
  }
}

nav {
  a {
    margin-bottom:1rem;

  }
}

.instructions ul {
  padding-left:0px;
}
.instructions ul > li {
  list-style: none;
  font-style:italic;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.center {
  text-align: center;
}

.recipe {
  img {
    border: 1px solid black;
    padding: 1rem;
  }

  .image { }
  .instructions { }
}

.separator {
  border-bottom:1px solid #CCCCCC;
  margin: 2rem;
  text-align:center;
  font-size:4rem;
}

.cookies {
  .image {
    height: 200px;
    .img-fluid {
      height: 100%;
    }
  }
}
