body {
  background-color: #ffffff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 1rem;
  text-align: left;
  font-size: 20px;
}

// ROYGBIV
body.red { border-top: 0.5rem solid red; }
body.orange { border-top: 0.5rem solid orange; }
body.yellow { border-top: 0.5rem solid yellow; }
body.green { border-top: 0.5rem solid green; }
body.lightgreen { border-top: 0.5rem solid lightgreen; }
body.lightblue { border-top: 0.5rem solid lightblue; }
body.blue { border-top: 0.5rem solid blue; }
body.pink { border-top:0.5rem solid pink; }
body.indigo { border-top: 0.5rem solid indigo; }
body.purple { border-top: 0.5rem solid purple; }

// Crayons
$carnation: #FF8AD8;
$bubblegum: #FF85FF;
$lavender: rgb(215, 131, 255);
$flora: #73FA79;

a.nav-link.red { border-left: 4px solid red; }
a.nav-link.orange { border-left: 4px solid orange; }
a.nav-link.yellow { border-left: 4px solid yellow; }
a.nav-link.green { border-left: 4px solid green; }
a.nav-link.lightgreen { border-left: 4px solid lightgreen; }
a.nav-link.lightblue { border-left: 4px solid lightblue; }
a.nav-link.blue { border-left: 4px solid blue; }
a.nav-link.pink { border-left: 4px solid pink; }
a.nav-link.indigo { border-left: 4px solid indigo; }
a.nav-link.purple { border-left: 4px solid purple; }

hgroup {
  text-align:center;
  margin-bottom:2rem;
  h2 {
    font-weight:normal;
    font-style:italic;
  }
}

img {
  border: 1px solid black;
  padding: 1rem;
}

hgroup > h2 { font-size:3rem; font-weight: bold;}

h1 {
  font-family: 'EB Garamond', cursive;
  font-size: 4rem;
  font-weight: bold;
}

h1 a:hover {
  text-decoration:none;
}

h2,h3,h4,h5 {
  font-family: 'EB Garamond';
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

h3,h4,h5 {
  text-transform: uppercase;
  font-size:1.25rem;
  font-weight: bold;
}

body {
  font-family: 'EB Garamond', serif;
}

.print {
  display: none;
}

div.recipe {
  div.title {
    text-align:center;
    margin-bottom:4rem;
    h2 {
      font-style: italic;
      font-size: 3rem;
    }
  }
}

nav {
  a {
    margin-bottom:1rem;

  }
}

.instructions ul {
  padding-left:0px;
}
.instructions ul > li {
  list-style: none;
  font-style:italic;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.center {
  text-align: center;
}

.recipe {
  img {
    border: 1px solid black;
    padding: 1rem;
  }

  .image { }
  .instructions { }
}

.separator {
  border-bottom:1px solid #CCCCCC;
  margin: 2rem;
  text-align:center;
  font-size:4rem;
}

.cookies {
  .image {
    height: 200px;
    .img-fluid {
      height: 100%;
    }
  }
}
