---
title: Larson Recipes &middot; Appetizers
color: salmon
schema: true
recipeCategory: appetizers
recipeCuisine: American
---

<div id="appetizers-section" class="section">
  <hgroup>
    <h1>
      <%=link_to('Larson Recipes', '/')%>
    </h1>
    <h2 id="appetizers">Appetizers</h2>
  </hgroup>

  <%= partial "book_section", locals: {category: 'appetizers'} %>
</div>
