---
title: Larson Recipes
color: banana
---

<div class="print-image">
  <img src="<%= image_path('mom_and_dad.jpg')%>" alt="Image of my mom and dad"  />
</div>

<div id="title_page" class="row">
  <hgroup>
    <h1 id="title" class="center">
      Larson Recipes
    </h1>
    <h3 id="tagline" class="center">
      Food and Love <br/> from 918 Melrose Drive
    </h3>
  </hgroup>

  <p class="center web">&copy; <%= Time.now.year %> / The Larson Family</p>
</div>
