---
title: Larson Recipes &middot; Bread
color: cantaloupe
schema: true
recipeCategory: breads
recipeCuisine: American
---

<div id="bread-section" class="section">
  <hgroup>
    <h1>
      <%=link_to('Larson Recipes', '/')%>
    </h1>
    <h2 id="bread">Bread</h2>
  </hgroup>

  <%= partial "book_section", locals: {category: 'breads'} %>
</div>
