---
title: Larson Recipes &middot; Template
color: blue
---

<hgroup>
<h1>
  <%=link_to('Larson Recipes', '/')%>
</h1>
<h2>
  Template
</h2>
</hgroup>

<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link" href="#nav-1">
    Nav 1
  </a>
  <a class="nav-item nav-link" href="#nav-2">
    Nav 2
  </a>
  <a class="nav-item nav-link" href="#nav-3">
    Nav 3
  </a>
</nav>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="nav-1">Recipe Title</h2>
  </div>

  <div class="image col-md-6 order-last">
    <img class="img-fluid" src="<%= image_path('red_bean_ranchero.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 can red beans, drained</li>
      <li>1 stalk celery, finely chopped</li>
      <li>1 small onion finely chopped</li>
      <li>½ cup diced sharp Cheddar cheese</li>
      <li>¼ cup ripe olive, sliced</li>
      <li>¼ cup fresh parsley, chopped</li>
      <li>1 small tomato, seeded and chopped</li>
      <li>2 tablespoons green chiles</li>
    </ul>

    <h4>Dressing</h4>
    <ul>
      <li>¼ cup red wine vinegar</li>
      <li>1 teaspoon salt</li>
      <li>1 teaspoon sugar</li>
      <li>¼ teaspoon oregano</li>
      <li>¼ teaspoon ground cumin</li>
      <li>dash of cayenne</li>
      <li>pepper</li>
      <li>1 clove garlic, minced</li>
      <li>½ cup olive oil or salad oil</li>
    </ul>

    <h4>Directions</h4>
    <p>Mix dressing together. Mix beans, celery, onion, cheese, olives, parsely, tomato, green chiles, and dressing. Cover and refrigerate 1-3 hours.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="shrimp-dip">Dad's Shrimp Dip</h2>
  </div>

  <div class="image col-md-6">
    <img class="img-fluid" src="<%= image_path('shrimp_dip.jpg') %>" />
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 box cream cheese, room temperature</li>
      <li>2 green onions, chopped</li>
      <li>2 shakes garlic salt</li>
      <li>1 teaspoon lemon juice</li>
      <li>¼ teaspoon worcestershire sauce</li>
      <li>⅓ cup cocktail sauce</li>
      <li>1 can medium deveined shrimp, drained and rinsed</li>
      <li>1 teaspoon parsley flakes</li>
    </ul>

    <h4>Directions</h4>
    <p>Mix cream cheese, green onions, garlic salt, lemon juice and worcestershire. Spread cream cheese mixture onto a dinner plate and top with cocktail sauce. Add the shrimp and top with parsley.</p>
  </div>
</div>

<div class="separator"></div>

<div class="recipe row">
  <div class="title col-md-12">
    <h2 id="vegetable-cream-cheese">Vegetable Cream Cheese</h2>
  </div>

  <div class="instructions col-md-6">
    <h3>Ingredients</h3>
    <ul>
      <li>1 package cream cheese</li>
      <li>4 teaspoons green onions, minced</li>
      <li>4 teaspoons carrots, minced</li>
      <li>4 teaspoons radishes, minced</li>
      <li>4 teaspoons celery, minced</li>
      <li>½ teaspoon garlic salt</li>
    </ul>
    <h4>Directions</h4>
    <p>
      Let cream cheese soften a bit, then mix with vegetables and salt.
    </p>
  </div>
</div>

<div class="separator"></div>
